@media screen and (min-width: 768px) {

/* header */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.name {
    margin-left: 25px; 
}


h1 {
    color: rgb(35, 35, 143);
    font-size: 24px;
   
}
.name > a {
    text-decoration: none;
}
.navs {
   padding: 25px;
   font-size: 18px;
   font-weight: bold; 
   
    
}
.navs > a {
    text-decoration: none;
    color: rgb(35, 35, 143);
    margin-left: 20px;   
}



/* body */
body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
}



/* main */



.parent{
    position: relative;
    
}

.img{
    width: 50% ;
    height: 50% ;
    position: absolute;
    top: 50%;
    left: auto;
}

.picture {
    
        background-image: url("firstview.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;

        display: block;
    
        z-index: 10;
        
       }



h2 {
    font-size: 70px;
    font-weight: lighter;   
    margin: 0 0 10px 0;
    position: absolute;
    top: 60%;
}
    

.box {
    width: 70% ;
    height: 10%;
    background-color: rgb(25, 25, 134);
    position: absolute;
    bottom: 10%;
    
    
}

 
}
