header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.name {
    margin-left: 25px; 
}


h1 {
    color: rgb(35, 35, 143);
    font-size: 24px;
   
}
.name > a {
    text-decoration: none;
}
.navs {
   padding: 25px;
   font-size: 18px;
   font-weight: bold; 
   
    
}
.navs > a {
    text-decoration: none;
    color: rgb(35, 35, 143);
    margin-left: 20px;   
}


.parent{

    margin-top: 100px;
}
img {
    width : 50%;
    height: auto;
    position: absolute;
    left: 51% ;
    z-index: 10;
    max-width: 970;
    

}
h2 {
    font-size: 70px;
    font-weight: lighter;
    position: absolute ;
    top : 50%; 
    width: 100%;
    height: auto;


}
.box {
    width: 1000px;
    height: 200px;
    background-color: rgb(25, 25, 134);
    position: absolute  ;
    top: 70% ;
    left: 0;
    z-index: 5;
    
}
